html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

#root {
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

body {
  background-image: url("money.jpg");
  background-size: cover;
  background-repeat:inherit;
}

button {
  cursor: pointer;
}