.label__title {
    width: 250px;
    display: inline-block;
    margin-left: 5px;
}

.label__input {
    border: 2px solid rgb(130, 125, 125);
    padding: 10px;
    border-radius: 10px;
    max-width: 135px;
}


@media (max-width: 543px) {
    .label__input {
        max-width: none;
    }
}

.label__input--disabled {
    background-color: rgb(255, 255, 255);
}

.label__input--pln {
    max-width: 300px;
}